<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Registration">
    <div class="form-group">
        <div class="col-md-10">
            <p>Define the parameter</p>
            First file: <input type="text" name="ply1"/>
            Second file: <input type="text" name="ply2"/>
            Output: <input type="text" name="output"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>